@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "My WEB GIS";
}

<h2>WEB GIS first test</h2>
<p>Hello World! WELCOME to my view template!</p>
<div id="map" style="height: 100px; width: 500px;">
    <button onclick="initMap()" type="button">Initialize the map</button>
</div>
